variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375/

include:
  - project: "dead-zl/ava/integration/ci-cd-templates"
    ref: "main"
    file:
      - "templates/autotag.yml"
      - "templates/autodeploy.yml"

# cicd: autotag, add ssh key to gitlab 12
