include:
  - project: "dead-zl/ava/integration/ci-cd-templates"
    ref: "main"
    file:
      # - "templates/autodeploy.yml"
      - "templates/autotag.yml"

# cicd: autotag, add ssh key to gitlab 4
