include:
  - project: "dead-zl/ava/integration/ci-cd-templates"
    ref: "main"
    file:
      # - "templates/autodeploy.yml"
      - "templates/automirror.yml"
      # - "templates/autotag.yml"

# cicd: Testar apenas o automirror 2
