include:
  # This template is used to run SAST scans on the codebase.
  - template: "Security/SAST.gitlab-ci.yml"
  # This template is used to run Dependency Scanning on the codebase.
  - template: "Security/Dependency-Scanning.gitlab-ci.yml"
  # This template is used to run Container Scanning on the codebase.
  - template: "Security/Container-Scanning.gitlab-ci.yml"
  # This template is used to run DAST scans on the codebase.
  - template: "Security/DAST.gitlab-ci.yml"
  # This template is used to run Secret Detection on the codebase.
  - template: "Security/Secret-Detection.gitlab-ci.yml"
  - project: "dead-zl/ava/integration/ci-cd-templates"
    ref: "main"
    file:
      - "templates/autodeploy.yml"

