# -e ../django-adminlte3
libsass
types-libsass
debugpy
django-debug-toolbar
django-extensions
django_coverage_plugin
ipdb
ipython
lxml
pdoc3
pytest
pytest-cov
pytest-profiling
types-requests
Werkzeug
