# Core
Django==5.1.7
sc4py==0.1.4

# Models
django-better-choices==1.17
django-polymorphic==3.1.0

# REST
requests==2.32.3

# Session
django-redis-sessions==0.6.2
redis==5.2.1

# Audit
django-simple-history==3.8.0

# UI
django-json-widget==2.0.1
django-import-export==4.3.7

# Database
psycopg[binary,pool]==3.2.3

# Production
sentry-sdk[django,celery,rq]==2.23.1
gunicorn==23.0.0
