# -e ../django-adminlte3
# -e /app/src/dsgovbr
black
debugpy
django-debug-toolbar
django-extensions
djlint
flake8
ipdb
ipython
lxml
mypy
pdoc3
pytest
pytest-cov
pytest-profiling
ruff
types-libsass
types-requests
Werkzeug
